* {
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

name {
display:none;
}

* p{
line-height:180%;
margin-bottom:10px;
font-size:10px;
}

body {
}

#jqt {

}

#jqt .current {
width:80% !important;
min-height:80% !important;
height:80% !important;
margin-top:13% !important;
margin-left:10% !important;
}

#left_nav {
width:10%;
height:100%;
background-color:red;
position:absolute;
z-index:1000;
}

#right_nav {
position:absolute;
width:10%;
height:100%;
left:90%;
background-color:red;
z-index:1000;
}

#header {
height:13%;
width:80%;
position:absolute;
left:10%;
background-color:blue;
z-index:1000;
}

#footer{
height:7%;
width:80%;
top:93%;
left:10%;
background-color:blue;
position:absolute;
z-index:1000;
}


