* {
font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
 overflow:hidden; 
}

name {
display:none;
}

* p{
}

ul {
margin-right:20px !important;
margin-left:20px !important;
}

body {
  background: #F1F1F2;
}

#jqt {
width:80% !important;
min-height:0% !important;
height:80% !important;
top:15% !important;
left:10% !important;
background-image:none !important;
background-color: #f1f2f2 !important;
}

#jqt .current {
background-image:none !important;
background-color: #f1f2f2 !important;
}

#left_nav {
width:10%;
height:100%;
background-color:#f1f1f2;
position:absolute;
z-index:1000;
}

#right_nav {
position:absolute;
width:10%;
height:100%;
left:90%;
background-color:#f1f1f2;
z-index:1000;
}

#banner {
height:15%;
width:80%;
position:absolute;
left:10%;
background-color:#f1f1f2;
z-index:1000;
}

#banner .logo {
position:absolute;
height:90%;
margin:auto;
}

#footer{
height:70px;
width:80%;
top:90%;
left:10%;
background-color:#f1f1f2;
position:absolute;
z-index:1000;
}

#footer * {
display:inline;
vertical-align:middle;
}

#footer img {
height:60%;
}

#footer .sponser_link {
float:right;
}


#jqt .spo.info {
background-color:#f1f2f2;
border:none;
}

#jqt .spo.info h1{
}

#raptor {
	width:100%;
	height:100%;
	position:absolute;
	background-color:#f1f1f2; 
}


#overlay .thank_you {
background-color:#f1f2f2;
}


#video {
position:absolute;
top:15% !important;
}
