!!!
html
	head
		title= content.title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/javascripts/jQTouch/themes/css/apple.css')
		script(src="/javascripts/jQTouch/src/lib/zepto.js")
		script(src="/javascripts/jQTouch/src/jqtouch.js")

		script(src="/javascripts/trash.js")
		script(src='http://192.168.1.7:8080/target/target-script-min.js#anonymous');
