#about.slide
	.info.spo
		h1 H.art`s purpose is to create an event in which digital art is accepted in the traditional art space. 

		h1 The hackers and artists goal will be to create the digital art to display next to the worlds most established media along with some of finest traditional media artists in New York City.

		h1 It will be every ones effort what will help create new avenues of exploration and proliferation.
