#event_outline.info.spo.slide
	h1 "Hacking is ART" => H.art

	h2 From 10:00 am - 6:00 pm 
	p The morning session  will be groups of about 5 people. Each group will have to create the most engaging and expressive visual art display for a projector. No restriction on languages frameworks etc etc etc.

	h2 6:00 pm - 7:00 pm
	p Set up

	h2 7:00 pm - 1:00 am
	p There will be a party with mix media art on display from various NY artists. Each groups work will be displayed during the party and the people attending will tweet for their favorite display.
