

#gallery.slide
	h1 gallery
		table#gallery1
			tr
				td.nodisplay
				td
				td.nodisplay
				td
				td.nodisplay
			tr
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
			tr
				td.nodisplay
				td
				td
				td
				td.nodisplay
			tr
				td.nodisplay
				td.nodisplay
				td
				td.nodisplay
				td.nodisplay
