!!!
html
	head
		title= title
		meta(name="apple-mobile-web-app-capable",content="yes">
	link(rel='stylesheet', href='/stylesheets/style.css')
	//-script(src='http://192.168.1.12:8080/target/target-script-min.js#anonymous');
	body
