|<rss version="2.0">
|<title> The Trash Heap </title>
|<link>http:\/\/rumplefraggle.tumblr.com/</link>
|<description>Some one loves you</description>
each post in posts
	include includes/feed_entry.jade
|</rss>
