#contact.info.spo
	h1 Stay in touch!
	form
		ul.edit.rounded
			li
				input(type='text',name='name',placeholder='Name',id='name')	
			li
				input(type='text',name='email',placeholder='Email',id='email')

		ul.edit.rounded
			li
				input(type='text',name='twiter',placeholder='Twitter',id='twitter')
	a.whiteButton.submit Submit
