#footer
	a(href='http://www.github.com')
		img(src='/images/git.png')
	//a.sponser_link(href='#' , onclick=' jQT.goTo("#main");') Become A sponser!
	a.sponser_link.dissolve(href='#sponsor' ) Become A sponser!
