!!!
html
	head
		title= title
		meta(name="apple-mobile-web-app-capable",content="yes">
	link(rel='stylesheet', href='/stylesheets/style.css')
	//link(rel='stylesheet', href='/javascripts/jQtouch/themes/css/jqtouch.css')	
	script(src='/javascripts/jQtouch/src/lib/zepto.js')	
	script(src='/javascripts/jQtouch/src/jqtouch.js')	

	//-script(src='http://192.168.1.12:8080/target/target-script-min.js#anonymous');
