include includes/header
include includes/banner
include includes/left_nav
include includes/right_nav
include includes/footer
	#jqt
		#main
			ul.rounded
				li
					a(href='#one') One
				li
					a(href='#two') Two
				li
					a(href='#three') Three
		include slides/one
		include slides/two
		include slides/three
				
