include includes/header
include includes/video
include statics/banner
include statics/left_nav
include statics/right_nav
include statics/footer

#raptor
#jqt
	include pages/main
	include pages/artist
	include pages/sponser

	include slides/event_outline
