include includes/header
include includes/video
include statics/banner
include statics/left_nav
include statics/right_nav
include statics/footer

#raptor
#jqt
	include pages/main
	include pages/contact
	include pages/sponsor

	include slides/event_outline
	include slides/gallery
	include slides/about
	
	include overlays/thank_you
